.tags {
  font:inherit;
  font-weight:normal;
  font-style:normal;
  color:#000;
  border:1px solid;
  display:block;
  line-height:1.25;
  padding:.25em 0 0 .25em;
  cursor:text;
  overflow:hidden;
}
.tags span {
  display:block;
  float:left;
  position:relative;
}
.tags .tag,
.tags-input {
  background:#f00;
  margin:0 .25em .25em 0;
  padding:.25em .5em;
  min-height:1.25em;
  cursor:default;
}
.tags .tag:before {content:attr(data-tag)}
.tags:after,
.tags-view:after {
  content:"";
  display:table;
  clear:both;
}
.tags a {
  display:inline-block;
  margin:0 0 0 .5em;
  color:#fff;
  text-decoration:none;
  cursor:pointer;
}
.tags a:before {content:'\00D7'}
.tags .tags-view {float:none}
.tags .tags-input {
  float:none;
  background:none;
  cursor:inherit;
  min-width:1em;
}
.tags-input span {
  float:none;
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:4;
  padding:inherit;
}
.tags-input span + span {
  position:static;
  padding:0;
  opacity:.5;
}
.tags .tag + .tags-input {float:left}
.tags .tag + .tags-input span + span {display:none}
.tags-input span:focus + span {opacity:.4}
.tags-output {
  position:fixed;
  top:-9999px;
  left:-9999px;
}